@import url(common.css);

main {
  margin: 100px auto;
  max-width: 300px;
  padding: 10px;
  box-shadow: 0px 2px 6px black;
  border-radius: 0.5em;
  background-color: white;
}

form {
  padding: 20px;
}
